*{
    margin:0px;
    padding:0px;
}

body{
    background-image: url(bg.png);
    background-color: rgb(91, 112, 112);
    background-repeat: no-repeat;
}
.search{
    width: 30vw;
    background-color: transparent;
    border:0px;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.search:focus{
    outline: none;
    border-bottom: 2px solid rgb(202, 8, 8);
    width: 40vw;
    transition: 0.5s;
}
.moviehead{
    color: brown;
}

.footer{
    height:40vh;
    background: rgb(61, 61, 61);
    padding-top: 80px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
  
.fa:hover {
    color:rgb(243, 239, 6);
}

.copyright{
    color:#ffffff;
    padding-top:30px;
    font-size: 1.7em;
    font-family: "Teko", sans-serif;
}

.line1 p{
    margin-top: 20vh;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    font-weight: 1200;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0em;
    -webkit-text-stroke:3px rgb(255, 255, 255);
    cursor:default;
    
}
.line2{
    margin:0 auto;
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width:25vw;
    height: 11vh;
    background-color: rgb(252, 0, 155);
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.play{
    vertical-align: bottom;
}
